NODE_ENV = 'development'
JWT_SECRET = 
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=60

DB_HOST=127.0.0.1
DB_DATABASE=
DB_DATABASE_TEST=
DB_USERNAME=
DB_PASSWORD=
